
.main{
   
}


.cards_container{
    border-radius: 5px;
/* box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2); */
}
.top_bar{
    height: 10vh;
    background-color: #fff;
}

.top_bar_container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top_bar_data{
    margin-top: 0vh;
    background-color: #fff;
    height:10vh;
    width:95%;
    border-radius: 10px;
    

}

.top_bar_inner{
  display: flex;
}

.top_bar_left{
    margin-top: 2vh;
    width: 50%;
   
    text-align: left;
}
.top_bar_right{
    width: 50%;
    background-color:#fff;
    align-items: right;
    display: flex;
}
.top_bar_left_inner{
    margin-top: 5vh;
    width: 50%;
   
    display: flex;
    

}

.top_bar_right_inner{
    margin-top: 5vh;
    width: 50%;

    display: flex;
    

}
.top_bar_btn{
    position: absolute;
    background-color:rgb(40, 17, 219);
    color: #fff;
    width: 50px;
    height: 3.5vh;
    border:0;
    text-align: left;
    margin-top: 10px;
    margin-left: -50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
}
/* .top_bar_input{
float: right;
width: 10vw;
display: flex;
} */

.search_wrapper {

    display:inline-block;
}

.top_bar_input
 {
   
    height: 3vh;

    width: 15vw;
    background-color: #fff;
    border: 1px solid;
    border-color: rgb(101, 100, 100);
    border-radius: 50px;
    

    
}
.outer1{
  
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
  

   
      
}
.inner1{
    padding: 0;
    
    /* background-image: linear-gradient(to bottom right,rgb(116, 112, 220) , rgb(236, 239, 244)); */
    margin-top: -2vh;
    height:25vh;
    width:95%;
    border-radius: 10px;
    /* background-color: #fff; */
    

}
.cards2_outer{
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
    

}



.cards2_inner{

    width: 100%;
display: flex;
}

.cards2_data{
    margin-top: 0vh;
  
    height:70%;
    width:95%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: #fff; */
    

}



.card1_item{
     background-color: #fff;  
width:35%;
height: 20vh;
border:  1.5px solid rgba(181, 180, 180, 0.675);

border-radius: 5px;
/* box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2); */

float: left;
}

.card2_item{
    width:35%;
    height: 20vh;
    /* background-color:rgb(241, 234, 234); */
    background-color: #fff;
margin-left: 2vw;
border:  1.5px solid rgba(181, 180, 180, 0.675);

border-radius: 5px;
/* box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2); */


    }
    .card3_item{
   
        width:25%;
        height: vh;
        background-color: #fff;
        margin-left: 2vw;
        border:  1.5px solid rgba(181, 180, 180, 0.675);
 border-radius: 5px;
/* box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2); */

        }

        .card_outlet{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: hotpink;  */


}

.right{
    width: 50%;
    height: 100%;
    background-color: #fff; 
    display: flex;
    align-items: center;
    /* border-left:  2px solid black */

}

.content{
     
    height: 80%;
    border-left:  .75px solid rgba(181, 180, 180, 0.675)
}

.content_left{
    width: 100%; 
    height: 80%;
    border-right:  .75x solid rgba(181, 180, 180, 0.675)
}



