.main {
  width: 100%;
  height: 50px;

}

.outter {
  margin-top: 10px;
}
.nav {
  display: flex;
}
.middle {
  margin-left: 0px;
  float: left;
  width: 350px;
  display: flex;
  align-items: center;
  color: rgb(88, 90, 90);
}
.left {
  float: left;
  margin-left: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  color: rgb(88, 90, 90);
}
.right {
  margin-top: 10px;
  margin-left: 300px;
  align-items: center;
  color: rgb(88, 90, 90);
}

.inner {
  padding-right: 20px;
}

.icon_container {
  display: flex;
}

.icon {
  margin-left: 20px;
}
